nav div img {
  border-radius: 10px;
  width: 100px;
  height: auto;
}

nav div a {
  display: flex;
  align-items: center;
}

nav div h1 {
  color: white;
  margin: auto;
  margin-left: 15px;
  margin-right: 15px;
}

img {
  display: flex;
  justify-content: center;
  width: 200px;
}

header {
  top: 0;
  left: 0;
  position: sticky;
}

/*Footer*/

footer {
  bottom: 0;
  left: 0;
  position: sticky;
}

.pie-pagina {
  background-color: #0a141d;
}

footer figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 250px;
}
footer h2 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 20px;
}

footer p {
  display: flex;
  justify-content: center;
  color: #efefef;
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #0d2033;
  background-size: cover;
  text-align: center;
  transition: all 300ms ease;
}

footer a:hover {
  background-color: aqua;
  border-radius: 100%;
}

footer a img {
  width: 45px;
  height: 45px;
}

.red-social {
  display: flex;
  justify-content: center;
}

/* Termina Flooter*/

#scrollableDiv {
  max-height: 664px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
}

@media (max-width: 768px) {
  .my-scroll {
    max-height: 140px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    position: static;
    border-radius: 10px;
  }

  footer {
    position: static;
  }

  footer img {
    width: 150px;
  }

  footer p {
    display: flex;
    justify-content: center;
    color: #efefef;
    font-size: 15px;
  }

  footer h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 15px;
  }

  footer a img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 992px) {
  .my-scroll {
    max-height: 140px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    position: static;
    border-radius: 10px;
  }

  footer {
    position: static;
  }

  footer img {
    width: 150px;
  }

  footer p {
    display: flex;
    justify-content: center;
    color: #efefef;
    font-size: 15px;
  }

  footer h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 15px;
  }

  footer a img {
    width: 35px;
    height: 35px;
  }
}
